<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" class="h-100"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragment/sourceLayout :: layout(~{::title}, ~{::content})}">
<title>Car Rent - About Company</title>
<content>
    <div class="container p-3 text-center">
        <h4 class="fw-bold">About Company</h4>
    </div>
    <p> Rental car provides excellent customer service to ensure you get the best deals, rates, rental car selection, and services when you rent a car from Rental Car. Rental Car takes corporate responsibility very seriously. Learn more about our commitment to our community and the programs we offer.
    </p>
</content>
</html>