<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" class="h-100"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragment/sourceLayout :: layout(~{::title}, ~{::content})}">
<title>Car Rent - Цены</title>
<content>
    <div class="container p-3 text-center">
        <h4 class="fw-bold">Prices</h4>
    </div>
    <p>Prices may change based on location and vehicle size. Due to very limited capacity, prices can be lowered on a long term rentals versus short term.
        Each branch has its own regulations and policies to update the rates and other fees.
    </p>
</content>
</html>