<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" class="h-100"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragment/sourceLayout :: layout(~{::title}, ~{::content})}">
<title>Car Rent - Conditions</title>
<content>
    <div class="container p-3 text-center">
        <h4 class="fw-bold">Conditions</h4>
    </div>
    <p>Under these Terms and Conditions and the subsidiary rules of these Terms and Conditions prescribed pursuant to Article 40 (hereinafter referred to collectively as "Terms and Conditions, etc."),
        the Company shall rent a motor vehicle (hereinafter referred to as "Rental Vehicle") to the Renter, and the Renter shall rent such Rental Vehicle from the Company upon understanding and agreeing to the Terms and Conditions, etc.
        If the Renter designates a driver who is not the Renter pursuant to Article 8.3, the Renter shall make known the provisions in the Terms and Conditions, etc. which relate to such driver and cause such driver to comply with such provisions.
        Particulars not provided in the Terms and Conditions, etc. shall be construed in accordance with the subsidiary rules provided in laws, regulations and general customs.
    </p>
</content>
</html>